{% extends "mail/layout.html" %}
{% load static %}

{% block nav %}
    <img src="{% static 'mail/Images/mail_logo2.png' %}" height="50px">

    <div class="search-bar">
        <form class="form-inline" action="#">
            <input type="text" placeholder="Search">
            <button class="btn" type="submit">
                <svg width="1.3em" height="1.42em" viewBox="0 1.2 16 15" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
            </button>
        </form>
    </div>
    <div class="nav-right">
        <div class="user_name">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
            &nbsp;<span>{{request.user.first_name}}</span>&emsp;&emsp;&emsp;
        </div>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    </div>
{% endblock %}

{% block sidebar %}
    <button class="btn btn-primary" id="compose">
        <svg width="1em" height="1.2em" viewBox="0 1.8 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg> 
        Compose
    </button>
    <div id="inbox" class="active">Inbox</div>
    <div id="sent">Sent</div>
    <div id="archive">Archive</div>
{% endblock %}

{% block body %}

    <div id="emails-view">
    </div>

    <div id="email-view">
        <div id="email-subject"></div>
        <div id="email-sender-receiver">
            <div id="email-sender-receiver-left">
                <div id="email-sender-icon">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                    </svg>
                </div>
                <div>
                    <div id="email-sender">
                        <span id="email-sender-name"></span>
                        <span id="email-sender-address"></span>
                    </div>
                    <div id="email-receiver"></div>
                </div>
            </div>
            <div id="email-time"></div>
        </div>
        <div id="email-body"></div>
        <div id="email-action">
            <button class="btn">
                <svg width="1.2em" height="1.3em" viewBox="0 1 16 16" class="bi bi-reply-fill" fill="currentColor" transform="scale(-1,1)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.079 11.9l4.568-3.281a.719.719 0 0 0 0-1.238L9.079 4.1A.716.716 0 0 0 8 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"/>
                </svg>&nbsp;
                Reply&nbsp;&nbsp;</button>
            <button class="btn">
                <svg width="1.2em" height="1.3em" viewBox="0 1 16 16" class="bi bi-forward-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.77 12.11l4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
                </svg>&nbsp;
                Forward</button>
        </div>
    </div>

    <div id="compose-view">
        <form id="compose-form">
            <div>
                <input class="form-control" value="{{ request.user.email }}" type="hidden">
            </div>
            <div class="compose-input-to">
                <span>To</span>
                <input id="compose-recipients">
            </div>
            <div class="compose-input-subject">
                <input id="compose-subject" placeholder="Add a subject">
            </div>
            <div class="compose-input-body">
                <textarea id="compose-body" placeholder="Body"></textarea>
            </div>
            <div class="compose-input-send">
                <input type="submit" class="btn btn-primary" value="Send">
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}